node_modules
.next
.next-old-*
.next-mock
.next_stale
.git
.gitignore
.github
.vscode
*.log
*.tsbuildinfo
.env
.env.*
.greenlens-runtime
.runtime
.deploy
playwright-report
playwright-report-old*
pw-results*
pw-verify*
pw-trace-debug
test-results*
screenshots
coverage
*.zip